---
import SectionHeading from './SectionHeading.astro'
const { about } = Astro.props
---
<div class="about">
    <SectionHeading>
        About
    </SectionHeading>
    <div class="font-text text-sm pb-12 leading-normal whitespace-pre-line text-gray-900 dark:text-gray-200">
        {about}
    </div>
</div>
