<body class="font-sans antialiased">
    <div class="bg-gradient-to-r from-gray-100 to-primaryLight dark:from-primaryDark dark:to-gray-800 transition-colors">
        <main class="mx-auto max-w-4xl px-4 md:px-0 print:mx-0">
            <slot />
        </main>
    </div>
</body>
