---
    import { SITE } from '$/config'
    import SvgIcon from './SvgIcon.astro'
    import ModeSwitcherBtn from './ModeSwitcherBtn.svelte'
---

<header class="header">
    <div class="header__logo">
        <span class="inline-flex w-14 h-14 rounded-full lg:mt-4 font-header font-bold text-xl justify-center items-center text-center text-primary dark:text-primaryLight border-2 border-solid border-primaryLight dark:border-primary">
           AA
        </span>
    </div>
    <div class="header__meta flex-1">
        <div class="header__meta-more flex">
            <nav class="header__nav flex mt-3 lg:mt-6">
                <ul class="header__ref-list">
                    <li class="icon">
                        <a href={ SITE.githubUrl } title={`${ SITE.name }'s Github URL'`}>
                            <SvgIcon>
                                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                            </SvgIcon>
                        </a>
                    </li>
                    <li class="print:hidden">
                            <a
                            class="flex flex-row flex-grow lg:bg-primary lg:text-white px-2 py-1 rounded-md"
                            href="#contact"
                            >
                                <SvgIcon>
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z"
                                        fill="currentColor"
                                    />
                                </SvgIcon>
                                &nbsp;
                                <span class="hidden lg:block">Contact Me</span>
                            </a>
                    </li>
                    <li class="icon print:hidden">
                        <ModeSwitcherBtn client:visible />
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<style>
    .header {
        @apply flex gap-4 border-b border-gray-200 dark:border-gray-700 py-3 print:hidden
    }
    .header__logo-img {
        @apply w-16 h-16 rounded-full overflow-hidden
    }
    .header__title {
        @apply text-4xl font-extrabold md:text-5xl text-primary dark:text-primaryLight
    }
    .header__desc {
        @apply text-xl flex-1 dark:text-gray-200
    }
    .header__ref-list {
        @apply flex gap-3 text-gray-400
    }
    .header__ref-list .icon {
        @apply p-1 h-8 w-8
    }
</style>
